<!--Section: Solutions-->
<section class="pb-3 text-center container">

    <!--Section heading-->
    <h2 class="h1 py-5">SOFTWARE SOLUTIONS</h2>
  
    <!--Section description-->
    <p class="grey-text mb-5">We not only teach the code, but also helps you to turn that code into realtime projects
      which helps you to become experts in developing realtime softwares.
      <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(44).jpg" alt="">
            </mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>TRAININGS
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(15).jpg" alt="">
            </mdb-card-img>
            <div class="stripe light">
              <a>
                <p>BUG FIXES
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(25).jpg" alt="">
            </mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>WEBINARS
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Fourth column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(27).jpg" alt="">
            </mdb-card-img>
            <div class="stripe light">
              <a>
                <p>CHILD WING
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Fourth column-->
  
    </div>
    <!--Grid row-->
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" alt="">
            </mdb-card-img>
            <div class="stripe light">
              <a>
                <p>REMOTE LEARN..
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(48).jpg" alt="">
            </mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>PERSONALITY
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Fourth column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(51).jpg" alt="">
            </mdb-card-img>
            <div class="stripe light">
              <a>
                <p>CORPORATE
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Fourth column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(50).jpg" alt="">
            </mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>SCHOOLING
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Solutions-->