<app-header></app-header>

<!--Section: Features v.3-->
<div class="container mt-5">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold text-center">How it works?</h2>

    <!--Grid row-->
    <div class="row pt-2">

        <!--Grid column-->
        <div class="col-lg-6 pb-5 text-center text-lg-left">

            <!--Card-->
            <mdb-card cascade="true">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header purple-gradient">
                    <h3 class="card-header-title">BOOK A SESSION</h3>
                    <p>LOGIN / SIGN-IN NOT REQUIRED</p>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <form [formGroup]="registerForm" style="padding: 10px;" (ngSubmit)="onSubmit()">
                        <div class="form-row mb-4">
                            <div class="col-6">
                                <!-- First name -->
                                <input type="text" formControlName="firstName" class="form-control"
                                    placeholder="First name" />
                            </div>
                            <div class="col-6">
                                <!-- Last name -->
                                <input type="text" formControlName="lastName" class="form-control"
                                    placeholder="Last name" />
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col">
                                <!-- First name -->
                                <input type="email" formControlName="email" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-6">
                                <!-- First name -->
                                <input type="text" formControlName="phone" class="form-control" placeholder="Contact" />
                            </div>
                            <div class="col-6" style="margin-top: 0px; margin-bottom: 0px;">
                                <input formControlName="course" type="text"
                                    class="completer-input form-control mdb-autocomplete mb-0" [mdbAutoCompleter]="auto"
                                    placeholder="Enter service" />
                                <mdb-auto-completer #auto="mdbAutoCompleter">
                                    <mdb-option *ngFor="let option of results | async" [value]="option">
                                        {{ option }}
                                    </mdb-option>
                                </mdb-auto-completer>
                            </div>
                        </div>
                        <small id="phoneExample" class="form-text text-muted text-left" style="padding-left: 3px;">
                            Ex: +91 &nbsp;9000000000
                        </small>
                        <div class="form-row">
                            <!-- Opt for 1 - 1 -->
                            <div class="col-md-12 mx-auto d-flex mt-3" style="text-align: left;">
                                <mdb-checkbox formControlName="onetoone">Do you want to opt for 1 - 1 class with
                                    preferred Time?</mdb-checkbox>
                            </div>
                        </div>
                        <button type="submit" class="mt-3 mb-3" mdbBtn gradient="purple" block="true"
                            [disabled]="disabledSubmitButton" mdbWavesEffect>
                            {{buttonValue}}
                        </button>
                        <div class="form-row">
                            <div class="col-md-8 col-sm-9 mx-auto d-flex">
                                <mdb-checkbox formControlName="subscription">Subscribe to our newsletter</mdb-checkbox>
                            </div>
                            <div class="col-md-4 col-sm-3" style="text-align: right;">
                                <small><a href="" target="_blank">Terms & Conditions</a></small>
                            </div>
                        </div>
                        <div class="form-row" style="text-align: left;">
                            <div class="col-12 mt-2">
                                <small class="text-muted">
                                    <strong>Note:&nbsp;</strong> Once you have enrolled, We will contact you for further
                                    details.
                                </small>
                            </div>
                        </div>
                        <div class="form-row mt-3" style="text-align: left;">
                            <div class="text-muted col-md-7 col-sm-6">
                                <mdb-icon fas icon="envelope" class="mr-1"></mdb-icon>
                                <span>contact@esmartcoder.com</span>
                            </div>
                            <div class="text-muted col-md-5 col-sm-6">
                                <mdb-icon fab icon="whatsapp" class="mr-1"></mdb-icon><span>+91 9030566011</span>
                            </div>
                        </div>
                    </form>
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->

            <!-- Material form contact -->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 mt-3">

            <!--Grid row-->
            <div class="row pb-2">
                <div class="col-2 col-md-1">
                    <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Flexible Timings</h5>
                    <p class="grey-text text-left">Once you register the session, we will contact you for your timings to confirm a slot.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-2">
                <div class="col-2 col-md-1">
                    <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">No Signup or Login Required</h5>
                    <p class="grey-text text-left">We respect your privacy. If you don't subscibe to our news letter, We won't follow you.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-2">
                <div class="col-2 col-md-1">
                    <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Drop at any point of time.</h5>
                    <p class="grey-text text-left">If you are not satisfied with our service, you can drop at any point of time. Pay the FEE only when you are completely satisfied with our service.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-2">
                <div class="col-2 col-md-1">
                    <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Interactive & Fun</h5>
                    <p class="grey-text text-left">We made our sessions interactive and fun. All our classes are designed in an unique and experimental fashion.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-2">
                <div class="col-2 col-md-1">
                    <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Concept Learning</h5>
                    <p class="grey-text text-left">We are the people of concept teaching. We sharpen and squeeze our minds according to your thoughts.</p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</div>
<!--Section: Features v.3-->
<app-footer></app-footer>