<app-header></app-header>

<!--Section: Features v.3-->
<div class="container mt-5">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold text-center">Why is it so great?</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam.</p>
  
    <!--Grid row-->
    <div class="row pt-2">
  
      <!--Grid column-->
      <div class="col-lg-5 text-center text-lg-left">
        <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0">
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-7">
  
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
          </div>
          <div class="col-10">
            <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Safety</h5>
            <p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Reprehenderit
              maiores nam, aperiam minima assumenda
              deleniti hic.</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
          </div>
          <div class="col-10">
            <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Technology</h5>
            <p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Reprehenderit
              maiores nam, aperiam minima assumenda
              deleniti hic.</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
          </div>
          <div class="col-10">
            <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Finance</h5>
            <p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Reprehenderit
              maiores nam, aperiam minima assumenda
              deleniti hic.</p>
          </div>
        </div>
        <!--Grid row-->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
</div>
  <!--Section: Features v.3-->
<!-- Material form contact -->
<section class="pb-3 pt-2 text-center container">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-6 mb-2">
            <!--Card-->
            <mdb-card cascade="true">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header purple-gradient">
                    <h3 class="card-header-title">ENROLL COURSE</h3>
                    <p>LOGIN / SIGN-IN NOT REQUIRED</p>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <form [formGroup]="registerForm" style="padding: 10px;" (ngSubmit)="onSubmit()">
                        <div class="form-row mb-4">
                            <div class="col-6">
                                <!-- First name -->
                                <input type="text" formControlName="firstName" class="form-control"
                                    placeholder="First name" />
                            </div>
                            <div class="col-6">
                                <!-- Last name -->
                                <input type="text" formControlName="lastName" class="form-control"
                                    placeholder="Last name" />
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col">
                                <!-- First name -->
                                <input type="email" formControlName="email" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-6">
                                <!-- First name -->
                                <input type="text" formControlName="phone" class="form-control" placeholder="Contact" />
                            </div>
                            <div class="col-6" style="margin-top: 0px; margin-bottom: 0px;">
                                <input formControlName="course" type="text"
                                    class="completer-input form-control mdb-autocomplete mb-0" [mdbAutoCompleter]="auto"
                                    placeholder="Enter Course" />
                                <mdb-auto-completer #auto="mdbAutoCompleter">
                                    <mdb-option *ngFor="let option of results | async" [value]="option">
                                        {{ option }}
                                    </mdb-option>
                                </mdb-auto-completer>
                            </div>
                        </div>
                        <small id="phoneExample" class="form-text text-muted text-left" style="padding-left: 3px;">
                            Ex: +91 &nbsp;9000000000
                        </small>
                        <div class="form-row">
                            <!-- Opt for 1 - 1 -->
                            <div class="col-md-12 mx-auto d-flex mt-3" style="text-align: left;">
                                <mdb-checkbox formControlName="onetoone">Do you want to opt for 1 - 1 class with
                                    preferred Time?</mdb-checkbox>
                            </div>
                        </div>
                        <button type="submit" class="mt-3 mb-3" mdbBtn gradient="purple" block="true"
                            [disabled]="disabledSubmitButton" mdbWavesEffect>
                            {{buttonValue}}
                        </button>
                        <div class="form-row">
                            <div class="col-md-8 col-sm-9 mx-auto d-flex">
                                <mdb-checkbox formControlName="subscription">Subscribe to our newsletter</mdb-checkbox>
                            </div>
                            <div class="col-md-4 col-sm-3" style="text-align: right;">
                                <small><a href="" target="_blank">Terms & Conditions</a></small>
                            </div>
                        </div>
                        <div class="form-row" style="text-align: left;">
                            <div class="col-12 mt-2">
                                <small class="text-muted">
                                    <strong>Note:&nbsp;</strong> Once you have enrolled, We will contact you for further details.
                                </small>
                            </div>
                        </div>
                        <div class="form-row mt-3" style="text-align: left;">
                            <div class="text-muted col-md-7 col-sm-6">
                                <mdb-icon fas icon="envelope" class="mr-1"></mdb-icon><span>contact@esmartcoder.com</span>
                            </div>
                            <div class="text-muted col-md-5 col-sm-6">
                                <mdb-icon fab icon="whatsapp" class="mr-1"></mdb-icon><span>+91 9014793628</span>
                            </div>
                        </div>
                    </form>
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->
        </div>

    </div>
</section>
<!-- Material form contact -->
<app-footer></app-footer>