<!-- Main navigation -->
<header>
    <!--Navbar-->
    <mdb-navbar #nav SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1 fixed-top scrolling-navbar"
        [containerInside]="false">
        <links>
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mega-dropdown" mdbDropdown>
                    <a mdbDropdownToggle class="nav-link dropdown-toggle text-uppercase no-caret" aria-haspopup="true"
                        aria-expanded="false">Software</a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" style="background-color: #000000;">
                        <div class="row">
                            <div class="col-md-5 col-xl-3 sub-menu mb-xl-5 mt-5 mb-5">
                                <ul class="list-unstyled ml-4 mr-md-0 mr-4">
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Mobile Apps</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Web Development</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Product Development</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Ecommerce</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Custom Software Development</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-7 col-xl-9">
                                <div class="row pr-4">
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-md-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div
                                                class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                                <div>
                                                    <h5 class="pink-text">
                                                        <mdb-icon fas icon="chart-pie"></mdb-icon>
                                                        ECOMMERCE SOFTWARE
                                                    </h5>
                                                    <h4 class="card-title pt-2"><strong>SCALE UP YOUR BUSINESS GRAPH</strong></h4>
                                                    <p>
                                                        Scale up your business graph against market disruptions with customized ecommerce development platforms.
                                                        Empower your business to provide omnichannel, mobile and personalized experience.
                                                    </p>
                                                    <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        ECOMMERCE SOFTWARE
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-xl-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div
                                                class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
                                                <div>
                                                    <h5 class="orange-text">
                                                        <mdb-icon fas icon="desktop"></mdb-icon>
                                                        SOFTWARE DEVELOPEMNT
                                                    </h5>
                                                    <h4 class="card-title pt-2"><strong>TURN YOUR BUSINESS VISION INTO REALITY</strong></h4>
                                                    <p>
                                                        Our end-to-end services provide industry and technology expertise, solutions, frameworks and tooling to enable our clients to drive business agility, competitive advantage, transformation and cost efficiencies.
                                                    </p>
                                                    <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        CUSTOM SOFTWARE 
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-xl-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div
                                                class="text-white text-center d-flex align-items-center rgba-green-strong py-5 px-4">
                                                <div>
                                                    <h5 class="black-text">
                                                        <mdb-icon fas icon="mobile"></mdb-icon>
                                                        MOBILE APPLICATIONS
                                                    </h5>
                                                    <h4 class="card-title pt-2"><strong>VALUE YOUR BUSINESS WITH MOBILE APPS.</strong></h4>
                                                    <p>
                                                        ANDROID, IOS, Native Apps can boost speed and maximize your business, attracts your customers which helps your business grow, and gives your business a meaning, that transforms your vision into reality.
                                                    </p>
                                                    <a mdbBtn color="black" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        MOBILE SOFTWARE
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown mega-dropdown" mdbDropdown>
                    <a mdbDropdownToggle class="nav-link dropdown-toggle text-uppercase no-caret" aria-haspopup="true"
                        aria-expanded="false">IT Consulting</a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" style="background-color: #000000;">
                        <div class="row">
                            <div class="col-md-5 col-xl-3 sub-menu mb-xl-5 mt-5 mb-5">
                                <ul class="list-unstyled ml-4 mr-md-0 mr-4">
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Corporate Training</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Out Sourcing</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Personality Development</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Remote Learning</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Coding Bug Fixes</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-7 col-xl-9">
                                <div class="row pr-4">
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-md-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div class="text-white text-center d-flex align-items-center rgba-purple-strong py-5 px-4">
                                                <div>
                                                    <h5 class="black-text">
                                                        <mdb-icon fas icon="building"></mdb-icon>
                                                        CORPORATE TRAININGS
                                                    </h5>
                                                    <h4 class="card-title pt-2"><strong>CORPORATE TRAININGS</strong></h4>
                                                    <p>
                                                        Training alone is rarely the answer to ensuring successful behavior change in the work environment.
                                                    </p>
                                                    <a mdbBtn color="black" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        BLOCK YOUR SEAT
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-xl-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                                <div>
                                                    <h5 class="pink-text">
                                                        <mdb-icon fas icon="headset"></mdb-icon>
                                                        REMOTE LEARNING
                                                    </h5>
                                                    <h4 class="card-title pt-2"><strong>REMOTE LEARNING</strong></h4>
                                                    <p>
                                                        Learning means not just the presence of your body, but it actullay means the presence of your Mind.
                                                    </p>
                                                    <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        Book your Slot
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-xl-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div
                                                class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
                                                <div>
                                                    <h5 class="orange-text">
                                                        <mdb-icon fas icon="users"></mdb-icon>
                                                        PERSONALITY
                                                    </h5>
                                                    <h5 class="card-title pt-2"><strong>PERSONALITY DEVELOPMENT</strong></h5>
                                                    <p>
                                                        What you feed your body strengthens your muscle, what you feed your soul strengthens your attitude.
                                                    </p>
                                                    <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        HOST A SESSION
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown mega-dropdown" mdbDropdown>
                    <a mdbDropdownToggle class="nav-link dropdown-toggle text-uppercase no-caret" aria-haspopup="true"
                        aria-expanded="false">INDUSTRIES</a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" style="background-color: #000000;">
                        <div class="row">
                            <div class="col-md-5 col-xl-3 sub-menu mb-xl-5 mt-5 mb-5">
                                <ul class="list-unstyled ml-4 mr-md-0 mr-4">
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Construction</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Healthcare</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Logistics & Automotive</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Travel & Hospitality</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Retail & E-commerce</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-7 col-xl-9">
                                <div class="row pr-4">
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-md-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div class="text-white d-flex align-items-center rgba-black-strong py-5 px-4">
                                                <div>
                                                    <h5 class="blue-text text-center">
                                                        <mdb-icon fas icon="chart-pie"></mdb-icon>
                                                        ECOMMERCE
                                                    </h5>
                                                    <h6 class="card-title pt-2">Retail Chain Management</h6>
                                                    <h6 class="card-title pt-2">Ecommerce Store </h6>
                                                    <h6 class="card-title pt-2">Product Management</h6>
                                                    <h6 class="card-title pt-2">Payment Solution</h6>
                                                    <h6 class="card-title pt-2">Shipping Management</h6>
                                                    <h6 class="card-title pt-2">ERP Integration</h6>
                                                    <a mdbBtn color="blue" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="center"></mdb-icon>
                                                        View More
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-xl-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div class="text-white d-flex align-items-center rgba-black-strong py-5 px-4">
                                                <div>
                                                    <h5 class="pink-text text-center">
                                                        <mdb-icon fas icon="clinic-medical"></mdb-icon>
                                                        HEALTHCARE
                                                    </h5>
                                                    <h6 class="card-title pt-2">Patient Health Data Access</h6>
                                                    <h6 class="card-title pt-2">Online Payment & Thirdparty </h6>
                                                    <h6 class="card-title pt-2">Mobile & Email Notifications</h6>
                                                    <h6 class="card-title pt-2">Payment Solution</h6>
                                                    <h6 class="card-title pt-2">Appointment Booking</h6>
                                                    <h6 class="card-title pt-2">Generate Bills & Reports</h6>
                                                    <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="center"></mdb-icon>
                                                        View More
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-xl-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div class="text-white d-flex align-items-center rgba-purple-strong py-5 px-4">
                                                <div>
                                                    <h5 class="black-text text-center">
                                                        <mdb-icon fas icon="clinic-medical"></mdb-icon>
                                                        LOGISTICS
                                                    </h5>
                                                    <h6 class="card-title pt-2">Vehicle Details Management</h6>
                                                    <h6 class="card-title pt-2">Garage Invoices </h6>
                                                    <h6 class="card-title pt-2">Return Management</h6>
                                                    <h6 class="card-title pt-2">Estimation and Cost</h6>
                                                    <h6 class="card-title pt-2">Live Tracking</h6>
                                                    <h6 class="card-title pt-2">Generate Bills & Reports</h6>
                                                    <a mdbBtn color="black" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="center"></mdb-icon>
                                                        View More
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown mega-dropdown" mdbDropdown>
                    <a mdbDropdownToggle class="nav-link dropdown-toggle text-uppercase no-caret" aria-haspopup="true"
                        aria-expanded="false">COMPANY</a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" style="background-color: #000000;">
                        <div class="row">
                            <div class="col-md-5 col-xl-3 sub-menu mb-xl-5 mt-5 mb-5">
                                <ul class="list-unstyled ml-4 mr-md-0 mr-4">
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">About Us</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Our Team</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Carriers</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Contact Us</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Blog</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-7 col-xl-9">
                                <div class="row pr-4">
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-md-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div
                                                class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                                <div>
                                                    <h5 class="pink-text">
                                                        <mdb-icon fas icon="chart-pie"></mdb-icon>
                                                        ABOUT US
                                                    </h5>
                                                    <h4 class="card-title pt-2"><strong>TODO</strong></h4>
                                                    <p>
                                                        Scale up your business graph against market disruptions with customized ecommerce development platforms.
                                                        Empower your business to provide omnichannel, mobile and personalized experience.
                                                    </p>
                                                    <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        VIEW MORE
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-xl-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div
                                                class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
                                                <div>
                                                    <h5 class="orange-text">
                                                        <mdb-icon fas icon="desktop"></mdb-icon>
                                                        OUR TEAM
                                                    </h5>
                                                    <h4 class="card-title pt-2"><strong>TODO</strong></h4>
                                                    <p>
                                                        Our end-to-end services provide industry and technology expertise, solutions, frameworks and tooling to enable our clients to drive business agility, competitive advantage, transformation and cost efficiencies.
                                                    </p>
                                                    <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        VIEW MORE
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                    <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-xl-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div
                                                class="text-white text-center d-flex align-items-center rgba-green-strong py-5 px-4">
                                                <div>
                                                    <h5 class="black-text">
                                                        <mdb-icon fas icon="mobile"></mdb-icon>
                                                        BLOG
                                                    </h5>
                                                    <h4 class="card-title pt-2"><strong>TODO</strong></h4>
                                                    <p>
                                                        ANDROID, IOS, Native Apps can boost speed and maximize your business, attracts your customers which helps your business grow, and gives your business a meaning, that transforms your vision into reality.
                                                    </p>
                                                    <a mdbBtn color="black" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        VIEW MORE
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Links -->


            <!-- Search form -->
            <!-- <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form mt-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                </div>
            </form> -->
            <button mdbBtn type="button" color="black" mdbWavesEffect>GET IN TOUCH</button>
        </links>
        <!-- Collapsible content -->
        <!-- Navbar brand -->
        <mdb-navbar-brand>
            <div class="wow fadeInLeft" data-wow-delay="0.3s">
                <img src="../../../assets/images/esc.png" class="img-fluid mobile-width" alt="1">
            </div>
        </mdb-navbar-brand>
    </mdb-navbar>
    <!--/.Navbar-->

    <!-- Full Page Intro -->
    <div class="block-content-on-mobile">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100" preserveAspectRatio="none">
            <circle fill="white" cx="0" cy="100" r="100" />
            <circle fill="white" cx="200" cy="100" r="100" />
        </svg>
        <!-- Mask & flexbox options-->
        <div class="mask d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container mt-5" style="padding-left: 50px;">
                <!--Grid row-->
                <div class="row pt-lg-5 mt-lg-5">
                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mb-2">
                        <!--Form-->
                        <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                            <img src="../../../assets/images/specific.png" class="img-fluid z-depth-2" alt="1">
                        </mdb-card>
                        <!--/.Form-->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 mb-4 mt-md-0 mt-2 white-text text-center text-md-left wow fadeInLeft"
                        data-wow-delay="0.3s">
                        <h6 class="mb-1"><b style="color: black;">WHAT, WHERE, HOW?</b></h6>
                        <hr class="hr-light">
                        <div class="mb-1"><strong>Goal must be clear & define as much as possible. Contain no ambiguous.</strong></div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 mb-4 mt-md-0 mt-2 white-text text-center text-md-left wow fadeInLeft"
                        data-wow-delay="0.3s">
                        <h6 class="mb-1"><b style="color: black;">FROM, TO?</b></h6>
                        <hr class="hr-light">
                        <div class="mb-1"><strong>Give feedback and let's one know when the goal will complete.</strong></div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mb-2">
                        <!--Form-->
                        <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                            <img src="../../../assets/images/measurable.png" class="img-fluid z-depth-2" alt="1">
                        </mdb-card>
                        <!--/.Form-->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mb-2">
                        <!--Form-->
                        <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                            <img src="../../../assets/images/attainable.png" class="img-fluid z-depth-2" alt="1">
                        </mdb-card>
                        <!--/.Form-->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 mb-4 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft"
                        data-wow-delay="0.3s">
                        <h6 class="mb-1"><b style="color: black;">ACCEPT?</b></h6>
                        <hr class="hr-light">
                        <div class="mb-1"><strong>Realistic goals are challenging yet attainable within the given timeframe.</strong></div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 mb-4 mt-md-0 mt-2 white-text text-center text-md-left wow fadeInLeft"
                        data-wow-delay="0.3s">
                        <h6 class="mb-1"><b style="color: black;">FEASIBLE?</b></h6>
                        <hr class="hr-light">
                        <div class="mb-1"><strong>Measurement gives feedback and let's one know when the goal is met.</strong></div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mb-2">
                        <!--Form-->
                        <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                            <img src="../../../assets/images/relevant.png" class="img-fluid z-depth-2" alt="1">
                        </mdb-card>
                        <!--/.Form-->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mb-2">
                        <!--Form-->
                        <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                            <img src="../../../assets/images/timebound.png" class="img-fluid z-depth-2" alt="1">
                        </mdb-card>
                        <!--/.Form-->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 mb-4 mt-md-0 mt-2 white-text text-center text-md-left wow fadeInLeft"
                        data-wow-delay="0.3s">
                        <h6 class="mb-1"><b style="color: black;">WHEN?</b></h6>
                        <hr class="hr-light">
                        <h6 class="mb-1"><strong>Timeframe must be aggressive yet realistic.</strong></h6>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
</header>
<!-- Main navigation -->