<!-- Main navigation -->
<header>
    <!--Navbar-->
    <mdb-navbar #nav SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1 fixed-top scrolling-navbar"
        [containerInside]="false">
        <links>
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mega-dropdown" mdbDropdown>
                    <a mdbDropdownToggle class="nav-link dropdown-toggle text-uppercase no-caret" aria-haspopup="true"
                        aria-expanded="false">Trainings</a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" style="background-color: #000000;">
                        <div class="row">
                            <div class="col-md-5 col-xl-3 sub-menu mb-xl-5 mt-5 mb-5">
                                <ul class="list-unstyled ml-4 mr-md-0 mr-4">
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Online Training</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Book Your Slot</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Corporate Training</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Trainers Profile</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-7 col-xl-9">
                                <div class="row">
                                    <div class="col-xl-10 mt-3 mb-9 clearfix d-none d-xl-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(21).jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div
                                                class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
                                                <div>
                                                    <h5 class="orange-text">
                                                        <mdb-icon fas icon="desktop"></mdb-icon>
                                                        ONLINE SOFTWARE TRAININGS
                                                    </h5>
                                                    <h4 class="card-title pt-2"><strong>LEARN TECHNOLOGY WITH REALTIME
                                                            EXPERTS</strong></h4>
                                                    <p>
                                                        We Love to the students and help them to build their carriers and make their dreams come true.
                                                    </p>
                                                    <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        LEARN MORE
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown mega-dropdown" mdbDropdown>
                    <a mdbDropdownToggle class="nav-link dropdown-toggle text-uppercase no-caret" aria-haspopup="true"
                        aria-expanded="false">Projects</a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" style="background-color: #000000;">
                        <div class="row">
                            <div class="col-md-5 col-xl-3 sub-menu mb-xl-5 mt-5 mb-5">
                                <ul class="list-unstyled ml-4 mr-md-0 mr-4">
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Live Projects</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Realtime Projects</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="">Demo Projects</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-7 col-xl-9">
                                <div class="row">
                                    <div class="col-xl-10 mt-3 mb-9 clearfix d-none d-xl-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(20).jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div
                                                class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                                <div>
                                                    <h5 class="pink-text">
                                                        <mdb-icon fas icon="headset"></mdb-icon>
                                                        LIVE PROJECTS
                                                    </h5>
                                                    <h4 class="card-title pt-2"><strong>LEARN LIVE AND REALTIME
                                                            PROJECTS</strong></h4>
                                                    <p>
                                                        We not only teach the code, but also helps you to turn that code
                                                        into realtime projects which helps you to become experts in
                                                        developing realtime softwares.
                                                    </p>
                                                    <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        Book your Slot
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown mega-dropdown" mdbDropdown>
                    <a mdbDropdownToggle class="nav-link dropdown-toggle text-uppercase no-caret" aria-haspopup="true"
                        aria-expanded="false">ABOUT US</a>
                    <div class="dropdown-menu mega-menu v-2 row z-depth-1" style="background-color: #000000;">
                        <div class="row">
                            <div class="col-md-5 col-xl-3 sub-menu mb-xl-5 mt-5 mb-5">
                                <ul class="list-unstyled ml-4 mr-md-0 mr-4">
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2" href="/about">About Us</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2"  href="/team">Our Team</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2"  href="/carriers">Carriers</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a class="menu-item pl-1 mt-2"  href="/contact">Contact Us</a>
                                    </li>
                                    <li class="sub-title text-uppercase">
                                        <a target="_blank" href="https://medium.com/@esmartcoder"  class="menu-item pl-1 mt-2">Blog</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-7 col-xl-9">
                                <div class="row">
                                    <div class="col-xl-10 mt-3 mb-9 clearfix d-none d-xl-block">
                                        <!-- Card -->
                                        <mdb-card
                                            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(17).jpg')"
                                            class="card-image mb-3 mx-2">
                                            <!-- Content -->
                                            <div
                                                class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                                <div>
                                                    <h5 class="black-text">
                                                        <mdb-icon fas icon="users"></mdb-icon>
                                                        About Us
                                                    </h5>
                                                    <h4 class="card-title pt-2"><strong>PASSIONATE DEVELOPERS AND
                                                            TRAINERS</strong></h4>
                                                    <p>
                                                        We are a team of software engineers who are passionate about teaching technologies. <br> We not only teach but also motivates the young to build their carriers and helps them to make their dreams come true.
                                                    </p>
                                                    <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                                                        <mdb-icon far icon="clone" class="left"></mdb-icon>
                                                        Know More
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                        </mdb-card>
                                        <!-- Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Links -->
            <button type="button" class="btn btn-md" style="background-color: black;">
                <i class="fab pr-1"></i>
                <span style="color: white;">Coding Kids</span>
            </button>
            <span class="counter counter-md">New</span>
        </links>
        <!-- Collapsible content -->
        <!-- Navbar brand -->
        <mdb-navbar-brand>
            <div>
                <a href="#"><img src="../../../assets/images/esc.png" class="img-fluid mobile-width" alt="1"></a>
                <!-- <b>esmartcoder</hb> -->
            </div>
        </mdb-navbar-brand>
    </mdb-navbar>
    <!--/.Navbar-->
</header>
<!-- Main navigation -->