<!--Section: Features v.4-->
<section>

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold text-center">Why we are unique?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center">All our sessions are interactive, concept learning, experimental. You will feel something magic happened with you after completion of the course.</p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="flag-checkered" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Concept Learning</h5>
          <p class="grey-text">We are the people of concept teaching. We sharpen and squeeze our minds according to your thoughts. </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="flask" size="2x" class="green-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Experimental</h5>
          <p class="grey-text">We made our sessions interactive and fun. All our classes are designed in an unique and experimental fashion.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="glass-martini" size="2x" class="blue-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Relaxing</h5>
          <p class="grey-text">We are the people with relaxed minds. Concept sinks in mind only with proper concentration and relaxation.</p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 center-on-small-only flex-center">
      <img src="../../assets/images/esmartcoder.png" alt="" class="z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="heart" size="2x" class="purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Beloved</h5>
          <p class="grey-text">We Love to the students and help them to build their carriers and make their dreams come true.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="bolt" size="2x" class="red-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Rapid</h5>
          <p class="grey-text">You will see a rapid growth and self satisfaction after completion of the course.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="magic" size="2x" class="orange-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Magical</h5>
          <p class="grey-text">We designed all our courses such a way that you will feel something magic happened with you.</p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--/Section: Features v.4-->

<!--Section: Products v.2-->
<section class="text-center">
  <!--Section heading-->
  <h2 class="h1 py-5">SOFTWARE TECHNOLOGIES</h2>
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-3">
      <!--Card-->
      <mdb-card cascade="true" wider="true" class="card-ecommerce">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/images/react.png" alt="sample photo"></mdb-card-img>
          <div class="mask rgba-white-slight"></div>
        </div>
        <!--Card image-->
          <button (click)="enrollCourse()" style="font-size: 20px; color: black;" class="btn btn-block"> REACT JS</button>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-3">
      <!--Card-->
      <mdb-card cascade="true" wider="true" class="card-ecommerce">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/images/angular.png" alt="sample photo"></mdb-card-img>
          <div class="mask rgba-white-slight"></div>
        </div>
        <!--Card image-->
          <button (click)="enrollCourse()" style="font-size: 20px; color: brown;" class="btn btn-block"> ANGULAR</button>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-3">
      <!--Card-->
      <mdb-card cascade="true" wider="true" class="card-ecommerce">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/images/html.png" alt="sample photo"></mdb-card-img>
          <div class="mask rgba-white-slight"></div>
        </div>
        <!--Card image-->
          <button (click)="enrollCourse()" style="font-size: 20px; color: blue;" class="btn btn-block"> HTML/CSS/JS</button>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-3">
      <!--Card-->
      <mdb-card cascade="true" wider="true" class="card-ecommerce">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/images/java.png" alt="sample photo"></mdb-card-img>
          <div class="mask rgba-white-slight"></div>
        </div>
        <!--Card image-->
          <button (click)="enrollCourse()" style="font-size: 20px; color: maroon;" class="btn btn-block"> JAVA</button>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-3">
      <!--Card-->
      <mdb-card cascade="true" wider="true" class="card-ecommerce">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/images/python.png" alt="sample photo"></mdb-card-img>
          <div class="mask rgba-white-slight"></div>
        </div>
        <!--Card image-->
          <button (click)="enrollCourse()" style="font-size: 20px; color: darkcyan;" class="btn btn-block"> PYTHON</button>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-3">
      <!--Card-->
      <mdb-card cascade="true" wider="true" class="card-ecommerce">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/images/ionic.png" alt="sample photo"></mdb-card-img>
          <div class="mask rgba-white-slight"></div>
        </div>
        <!--Card image-->
          <button (click)="enrollCourse()" style="font-size: 20px; color: royalblue;" class="btn btn-block"> IONIC</button>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
<!--Section: Products v.2-->
<button class="btn btn-block btn-purple mb-3">
  <i class="fas fa-graduation-cap" style="font-size: 22px;"></i>
  <span style="font-size: 20px;margin-left: 5px;" > VIEW ALL COURSES </span>
</button>

  