<button style="font-size: 20px;margin-left: 7px;" class="btn btn-block btn-purple mb-3"><i class="fas fa-graduation-cap"></i> VIEW ALL COURSES </button>
  <div class="row">
    <div class="col-lg-4 col-md-4 mb-4">
      <!-- Card -->
      <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(12).jpg')"
        class="card-image mb-3 mx-2">
        <!-- Content -->
        <div class="text-white rgba-black-strong py-5 px-4">
          <h5 class="red-text">
            <mdb-icon fab icon="angular"></mdb-icon>
            Angular
          </h5>
          <h3 class="card-title pt-2"><strong>Angular Course</strong></h3>
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button style="cursor: text;" type="button" class="btn btn-danger btn-lg btn-block text-left">CODING KIDS -
              20 Classes</button>
          </div>
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button style="cursor: text;" type="button" class="btn btn-info btn-lg btn-block text-left">Beginner - 15
              Classes</button>
            <button style="cursor: text;" type="button"
              class="btn btn-secondary btn-lg btn-block text-left">Intermediate - 30 Classes</button>
            <button style="cursor: text;" type="button" class="btn btn-success btn-lg btn-block text-left">Advanced - 45
              Classes</button>
          </div>
          <!-- <p class="mt-2">
            <strong>Note:</strong> Advanced training includes both beginner & Intermediate.
          </p> -->
        </div>
        <!-- Content -->
      </mdb-card>
      <!-- Card -->

    </div>
    <div class="col-lg-4 col-md-4 mb-4">

      <!-- Card -->
      <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(2).jpg')"
        class="card-image mb-3 mx-2">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-elegant-strong py-5 px-4">
          <div>
            <h5 class="orange-text">
              <mdb-icon fab icon="react"></mdb-icon>
              React
            </h5>
            <h3 class="card-title pt-2"><strong>React Course</strong></h3>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-danger btn-lg btn-block text-left">CODING KIDS
                - 20 Classes</button>
            </div>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-info btn-lg btn-block text-left">Beginner - 15
                Classes</button>
              <button style="cursor: text;" type="button"
                class="btn btn-secondary btn-lg btn-block text-left">Intermediate - 30 Classes</button>
              <button style="cursor: text;" type="button" class="btn btn-success btn-lg btn-block text-left">Advanced -
                45 Classes</button>
            </div>
            <!-- <p class="mt-2">
              <strong>Note:</strong> Advanced training includes both beginner & Intermediate.
            </p> -->
          </div>
        </div>
        <!-- Content -->
      </mdb-card>
      <!-- Card -->
    </div>
    <div class="col-lg-4 col-md-4 mb-4">

      <!-- Card -->
      <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(22).jpg')"
        class="card-image mb-3 mx-2">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-blue-strong py-5 px-4">
          <div>
            <h5 class="black-text">
              <mdb-icon fas icon="dot-circle"></mdb-icon>
              Ionic
            </h5>
            <h3 class="card-title pt-2"><strong>Ionic Course</strong></h3>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-danger btn-lg btn-block text-left">CODING KIDS
                - 20 Classes</button>
            </div>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-info btn-lg btn-block text-left">Beginner - 15
                Classes</button>
              <button style="cursor: text;" type="button"
                class="btn btn-secondary btn-lg btn-block text-left">Intermediate - 30 Classes</button>
              <button style="cursor: text;" type="button" class="btn btn-success btn-lg btn-block text-left">Advanced -
                45 Classes</button>
            </div>
            <!-- <p class="mt-2">
              <strong>Note:</strong> Advanced training includes both beginner & Intermediate.
            </p> -->
          </div>
        </div>
        <!-- Content -->
      </mdb-card>
      <!-- Card -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 mb-4">
      <!-- Card -->
      <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(19).jpg')"
        class="card-image mb-3 mx-2">
        <!-- Content -->
        <div class="text-white rgba-indigo-strong py-5 px-4">
          <h5 class="red-text">
            <mdb-icon fab icon="html5"></mdb-icon>
            HTML
          </h5>
          <h3 class="card-title pt-2"><strong>HTML Course</strong></h3>
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button style="cursor: text;" type="button" class="btn btn-danger btn-lg btn-block text-left">CODING KIDS -
              20 Classes</button>
          </div>
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button style="cursor: text;" type="button" class="btn btn-info btn-lg btn-block text-left">Beginner - 15
              Classes</button>
            <button style="cursor: text;" type="button"
              class="btn btn-secondary btn-lg btn-block text-left">Intermediate - 30 Classes</button>
            <button style="cursor: text;" type="button" class="btn btn-success btn-lg btn-block text-left">Advanced - 45
              Classes</button>
          </div>
          <!-- <p class="mt-2">
            <strong>Note:</strong> Advanced training includes both beginner & Intermediate.
          </p> -->
        </div>
        <!-- Content -->
      </mdb-card>
      <!-- Card -->

    </div>
    <div class="col-lg-4 col-md-4 mb-4">

      <!-- Card -->
      <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(12).jpg')"
        class="card-image mb-3 mx-2">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-elegant-strong py-5 px-4">
          <div>
            <h5 class="orange-text">
              <mdb-icon fab icon="css3"></mdb-icon>
              CSS
            </h5>
            <h3 class="card-title pt-2"><strong>CSS Course</strong></h3>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-danger btn-lg btn-block text-left">CODING KIDS
                - 20 Classes</button>
            </div>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-info btn-lg btn-block text-left">Beginner - 15
                Classes</button>
              <button style="cursor: text;" type="button"
                class="btn btn-secondary btn-lg btn-block text-left">Intermediate - 30 Classes</button>
              <button style="cursor: text;" type="button" class="btn btn-success btn-lg btn-block text-left">Advanced -
                45 Classes</button>
            </div>
            <!-- <p class="mt-2">
              <strong>Note:</strong> Advanced training includes both beginner & Intermediate.
            </p> -->
          </div>
        </div>
        <!-- Content -->
      </mdb-card>
      <!-- Card -->
    </div>
    <div class="col-lg-4 col-md-4 mb-4">

      <!-- Card -->
      <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(17).jpg')"
        class="card-image mb-3 mx-2">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="red-text">
              <mdb-icon fab icon="js"></mdb-icon>
              Javascript
            </h5>
            <h3 class="card-title pt-2"><strong>Javascript Course</strong></h3>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-danger btn-lg btn-block text-left">CODING KIDS
                - 20 Classes</button>
            </div>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-info btn-lg btn-block text-left">Beginner - 15
                Classes</button>
              <button style="cursor: text;" type="button"
                class="btn btn-secondary btn-lg btn-block text-left">Intermediate - 30 Classes</button>
              <button style="cursor: text;" type="button" class="btn btn-success btn-lg btn-block text-left">Advanced -
                45 Classes</button>
            </div>
            <!-- <p class="mt-2">
              <strong>Note:</strong> Advanced training includes both beginner & Intermediate.
            </p> -->
          </div>
        </div>
        <!-- Content -->
      </mdb-card>
      <!-- Card -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 mb-4">
      <!-- Card -->
      <mdb-card
        style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
        class="card-image mb-3 mx-2">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text">
              <mdb-icon fab icon="java"></mdb-icon>
              JAVA
            </h5>
            <h3 class="card-title pt-2"><strong>Java Course</strong></h3>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-danger btn-block text-left">CODING KIDS - 20
                Classes</button>
            </div>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-info btn-lg btn-block text-left">Beginner - 15
                Classes</button>
              <button style="cursor: text;" type="button"
                class="btn btn-secondary btn-lg btn-block text-left">Intermediate - 30 Classes</button>
              <button style="cursor: text;" type="button" class="btn btn-success btn-lg btn-block text-left">Advanced -
                45 Classes</button>
            </div>
            <!-- <p class="mt-2">
              <strong>Note:</strong> Advanced training includes both beginner & Intermediate.
            </p> -->
          </div>
        </div>
        <!-- Content -->
      </mdb-card>
      <!-- Card -->
    </div>
    <div class="col-lg-6 col-md-6 mb-4">
      <!-- Card -->
      <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(20).jpg')"
        class="card-image mb-3 mx-2">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
          <div>
            <h5 class="orange-text">
              <mdb-icon fab icon="python"></mdb-icon>
              python
            </h5>
            <h3 class="card-title pt-2"><strong>Python Course</strong></h3>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-danger btn-block text-left">CODING KIDS - 20
                Classes</button>
            </div>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button style="cursor: text;" type="button" class="btn btn-info btn-lg btn-block text-left">Beginner - 15
                Classes</button>
              <button style="cursor: text;" type="button"
                class="btn btn-secondary btn-lg btn-block text-left">Intermediate - 30 Classes</button>
              <button style="cursor: text;" type="button" class="btn btn-success btn-lg btn-block text-left">Advanced -
                45 Classes</button>
            </div>
            <!-- <p class="mt-2">
              <strong>Note:</strong> Advanced training includes both beginner & Intermediate.
            </p> -->
          </div>
        </div>
        <!-- Content -->
      </mdb-card>
      <!-- Card -->
    </div>
  </div>