<app-header></app-header>
<!-- Material form contact -->
<section class="pb-3 pt-5 text-center container">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-6 mb-3">
            <!--Card-->
            <mdb-card cascade="true" wider="true">
                <div class="view view-cascade gradient-card-header peach-gradient">
                    <h3 class="card-header-title">TEACHING GUIDELINES</h3>
                    <p>WE DESIGNED OUR CLASSES INTERACTIVE AND FUN</p>
                </div>
                <mdb-card-body cascade="true" class="text-left">
                    <hr>
                    <!--Quotation-->
                    <p>
                        <mdb-icon fas icon="quote-left"></mdb-icon> &nbsp;
                        Our sessions are interactive and concept learning.
                    </p>
                    <hr>
                    <!--Quotation-->
                    <p>
                        <mdb-icon fas icon="quote-left"></mdb-icon> &nbsp;
                        We use best tools & techniques available to make you understand the concept better.
                    </p>
                    <hr>
                    <!--Quotation-->
                    <p>
                        <mdb-icon fas icon="quote-left"></mdb-icon> &nbsp;
                        We make you write the code while teaching to get hands-on coding.
                    </p>
                    <!--Quotation-->
                    <hr>
                    <p>
                        <mdb-icon fas icon="quote-left"></mdb-icon> &nbsp;
                        You will feel learning with your Friend, more than a Teacher.
                    </p>
                    <!--Quotation-->
                    <hr>
                    <p>
                        <mdb-icon fas icon="quote-left"></mdb-icon> &nbsp;
                        It's our responsiblity to make you understand the concept better.
                    </p>
                    <!--Quotation-->
                    <hr>
                    <p>
                        <mdb-icon fas icon="quote-left"></mdb-icon> &nbsp;
                        You will become 100% confident and satisfied after completion of the course.
                    </p>
                    <!-- <hr> -->
                    <div class="orange-text d-flex flex-row-reverse">
                        <h5 class="waves-effect p-2" mdbWavesEffect>More Info
                            <mdb-icon fas icon="chevron-right"></mdb-icon>
                        </h5>
                    </div>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
        </div>

        <div class="col-lg-6 col-md-6 mb-2">
            <!--Card-->
            <mdb-card cascade="true">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header purple-gradient">
                    <h3 class="card-header-title">ENROLL COURSE</h3>
                    <p>LOGIN / SIGN-IN NOT REQUIRED</p>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <form [formGroup]="registerForm" style="padding: 10px;" (ngSubmit)="onSubmit()">
                        <div class="form-row mb-4">
                            <div class="col-6">
                                <!-- First name -->
                                <input type="text" formControlName="firstName" class="form-control"
                                    placeholder="First name" />
                            </div>
                            <div class="col-6">
                                <!-- Last name -->
                                <input type="text" formControlName="lastName" class="form-control"
                                    placeholder="Last name" />
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col">
                                <!-- First name -->
                                <input type="email" formControlName="email" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-6">
                                <!-- First name -->
                                <input type="text" formControlName="phone" class="form-control" placeholder="Contact" />
                            </div>
                            <div class="col-6" style="margin-top: 0px; margin-bottom: 0px;">
                                <input formControlName="course" type="text"
                                    class="completer-input form-control mdb-autocomplete mb-0" [mdbAutoCompleter]="auto"
                                    placeholder="Enter Course" />
                                <mdb-auto-completer #auto="mdbAutoCompleter">
                                    <mdb-option *ngFor="let option of results | async" [value]="option">
                                        {{ option }}
                                    </mdb-option>
                                </mdb-auto-completer>
                            </div>
                        </div>
                        <small id="phoneExample" class="form-text text-muted text-left" style="padding-left: 3px;">
                            Ex: +91 &nbsp;9000000000
                        </small>
                        <div class="form-row">
                            <!-- Opt for 1 - 1 -->
                            <div class="col-md-12 mx-auto d-flex mt-3" style="text-align: left;">
                                <mdb-checkbox formControlName="onetoone">Do you want to opt for 1 - 1 class with
                                    preferred Time?</mdb-checkbox>
                            </div>
                        </div>
                        <button type="submit" class="mt-3 mb-3" mdbBtn gradient="purple" block="true"
                            [disabled]="disabledSubmitButton" mdbWavesEffect>
                            {{buttonValue}}
                        </button>
                        <div class="form-row">
                            <div class="col-md-8 col-sm-9 mx-auto d-flex">
                                <mdb-checkbox formControlName="subscription">Subscribe to our newsletter</mdb-checkbox>
                            </div>
                            <div class="col-md-4 col-sm-3" style="text-align: right;">
                                <small><a href="" target="_blank">Terms & Conditions</a></small>
                            </div>
                        </div>
                        <div class="form-row" style="text-align: left;">
                            <div class="col-12 mt-2">
                                <small class="text-muted">
                                    <strong>Note:&nbsp;</strong> Once you have enrolled, We will contact you for further details.
                                </small>
                            </div>
                        </div>
                        <div class="form-row mt-3" style="text-align: left;">
                            <div class="text-muted col-md-7 col-sm-6">
                                <mdb-icon fas icon="envelope" class="mr-1"></mdb-icon><span>contact@esmartcoder.com</span>
                            </div>
                            <div class="text-muted col-md-5 col-sm-6">
                                <mdb-icon fab icon="whatsapp" class="mr-1"></mdb-icon><span>+91 9030566011</span>
                            </div>
                        </div>
                    </form>
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->
        </div>

    </div>
</section>
<!-- Material form contact -->
<app-footer></app-footer>