<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
  [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of courses; let i = index">
    <div class="col-md-4 pb-2" *ngFor="let course of item; let cardIndex = index">
      <!--Card-->
      <mdb-card cascade="true">
        <div class="view view-cascade gradient-card-header" [ngClass]="{
            'peach-gradient': course.title === 'HTML',
            'purple-gradient': course.title === 'CSS',
            'spring-warmth-gradient': course.title === 'JAVASCRIPT',
            'blue-gradient': course.title === 'ANGULAR',
            'morpheus-den-gradient': course.title === 'REACT',
            'winter-neva-gradient': course.title === 'JAVA',
            'sunny-morning-gradient': course.title === 'PYTHON',
            'night-fade-gradient': course.title === 'SPRING'
            }">
          <h4 class="card-header-title">{{course.title1}}</h4>
          <h5 class="card-header-title" style="color: black;">{{course.title2}}</h5>
          <br>
            <strong>
              <mdb-icon far icon="calendar"></mdb-icon> {{course.date}} &nbsp;
              <mdb-icon far icon="clock"></mdb-icon> {{course.time}}
            </strong>
          <br>
          <div class="card-header-title mb-2" style="font-size: 18px; color: black;">
            Course Fee :
            &nbsp;<mdb-icon fas icon="rupee-sign"></mdb-icon>
            <span style="font-size: 22px;">
              {{course.discountFee}}
            </span>&nbsp;
            <span style="color: yellow;">
              <del>
                <mdb-icon fas icon="rupee-sign"></mdb-icon>{{course.actualFee}}
              </del>
            </span>
          </div>
        </div>
        <mdb-card-body cascade="true" class="text-center pb-0 px-0">
          <button size="sm" style="cursor: crosshair" mdbBtn type="button" color="black" outline="true" mdbWavesEffect>
            <span style="font-size: 16px;color: red;">
              {{course.totalSeats}}
            </span>
          </button>
          <button class="mt-2" (click)="enrollCourse()" gradient="purple"  block="true" type="button" mdbBtn mdbWavesEffect [ngClass]="{
              'peach-gradient': course.title === 'HTML',
              'purple-gradient': course.title === 'CSS',
              'spring-warmth-gradient': course.title === 'JAVASCRIPT',
              'blue-gradient': course.title === 'ANGULAR',
              'morpheus-den-gradient': course.title === 'REACT',
              'winter-neva-gradient': course.title === 'JAVA',
              'sunny-morning-gradient': course.title === 'PYTHON',
              'night-fade-gradient': course.title === 'SPRING'
              }">
            <span style="font-size: 16px;">
              <strong>{{course.buttonText}}</strong>
            </span>
          </button>
          <!-- Card footer -->
          <!-- <div class="card-footer text-center">
            {{course.totalSeats}} - SEATS ALLOCATED
          </div> -->

        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>
  </mdb-carousel-item>
</mdb-carousel>