<app-header></app-header>
<!--Section: Products v.4-->
<section class="pb-3 pt-5 text-center container">
  <!--Section heading-->
  <div style="font-size: 50px;" class="mt-5"><strong>ONLINE SOFTWARE TRAINING</strong></div>
  <div style="font-size: 31px;" class="mb-3">LEARN TECHNOLOGIES WITH REALTIME EXPERTS</div>

  <app-upcoming-courses></app-upcoming-courses>
  <!--Section: Main Courses-->
  <app-main-courses></app-main-courses>
  <!--Section: Main Courses-->
</section>
<hr class="hr-dark">

<app-software-solutions></app-software-solutions>

<app-footer></app-footer>