<!-- Main navigation -->
<header>
    <!--Navbar-->
    <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1 fixed-top scrolling-navbar" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Basic dropdown<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
          </div>
        </li>
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
        </li>
        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0"></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
    <!-- Navbar -->
    <!-- Full Page Intro -->
    <div class="view" style=" background-position: center;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100" preserveAspectRatio="none">
        <circle fill="white" cx="0" cy="100" r="100" />
        <circle fill="white" cx="200" cy="100" r="100" />
      </svg>
      <!-- Mask & flexbox options-->
      <div class="mask d-flex justify-content-center align-items-center">
        <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row pt-lg-5 mt-lg-5">
          <!--Grid column-->
          <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="display-4 font-weight-bold">Lorem ipsum</h1>
            <hr class="hr-light">
            <h6 class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
              fuga
              nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea
              dolor molestiae, quisquam iste.</h6>
            <a mdbBtn color="white" outline="true" mdbWavesEffect>Learn more</a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">
            <!--Form-->
            <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
              <mdb-card-body class="z-depth-2">
                <!--Header-->
                <div class="text-center">
                  <h3 class="dark-grey-text">
                    <strong>Write to us:</strong>
                  </h3>
                  <hr>
                </div>
                <!--Body-->
                <div class="md-form">
                  <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                  <input type="text" id="form3" class="form-control" mdbInput>
                  <label for="form3">Your name</label>
                </div>
                <div class="md-form">
                  <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                  <input type="text" id="form2" class="form-control" mdbInput>
                  <label for="form2">Your email</label>
                </div>
                <!--Textarea with icon prefix-->
                <div class="md-form">
                  <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
                  <textarea type="text" id="form8" class="md-textarea form-control" mdbInput></textarea>
                  <label for="form8">Your message</label>
                </div>
                <div class="text-center mt-3">
                  <button block="true" mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect>Small Button</button>
                  <hr>
                  <mdb-checkbox>Subscribe me to the
                    newsletter</mdb-checkbox>
                </div>
              </mdb-card-body>
            </mdb-card>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
<!--Section: Products v.4-->
<section class="pb-3 text-center container">

    <!--Section heading-->
    <h2 class="h1 py-5">Our bestsellers</h2>
    <!--Section description-->
    <p class="grey-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam
      iure
      provident voluptate esse quasi,
      veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
  
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""></mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>Red trousers
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Sweatshirt
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" alt=""></mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>Accessories
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Fourth column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view-course zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Sweatshirt
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Fourth column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Products v.4-->

  <!--Section: Pricing v.6-->
<section class="text-center pb-3 my-5 container">

    <!--Section heading-->
    <h2 class="h1 py-5">Our pricing plans</h2>
    <!--Section description-->
    <p class="grey-text pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam
      iure
      provident voluptate esse quasi,
      veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
  
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <!--Pricing card-->
        <mdb-card class="pricing-card white-text">
          <!--Price-->
          <div class="header aqua-gradient">
            <h4 class="option">BASIC</h4>
          </div>
          <!--Price-->
  
          <!--Features-->
          <mdb-card-body class="striped green-striped card-background heading px-5">
            <h2 class="my-4 h1">20$</h2>
            <ul>
              <li>
                <p class="mt-1">
                  <strong>1</strong> project</p>
              </li>
              <li>
                <p>
                  <strong>100</strong> components</p>
              </li>
              <li>
                <p>
                  <strong>150</strong> features</p>
              </li>
              <li>
                <p>
                  <strong>200</strong> members</p>
              </li>
            </ul>
  
            <button mdbBtn gradient="aqua" rounded="true" class="mb-3 mt-3 waves-light" mdbWavesEffect>Buy now
            </button>
          </mdb-card-body>
          <!--Features-->
  
        </mdb-card>
        <!--Pricing card-->
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <!--Pricing card-->
        <mdb-card class="pricing-card white-text">
          <!--Price-->
          <div class="header peach-gradient">
            <h4 class="option">PRO</h4>
          </div>
          <!--Price-->
  
          <!--Features-->
          <mdb-card-body class="striped orange-striped card-background heading px-5">
            <h2 class="my-4 h1">80$</h2>
            <ul>
              <li>
                <p class="mt-1">
                  <strong>1</strong> project</p>
              </li>
              <li>
                <p>
                  <strong>100</strong> components</p>
              </li>
              <li>
                <p>
                  <strong>150</strong> features</p>
              </li>
              <li>
                <p>
                  <strong>200</strong> members</p>
              </li>
            </ul>
  
            <button mdbBtn gradient="peach" rounded="true" class="mb-3 mt-3 waves-light" mdbWavesEffect>Buy now
            </button>
          </mdb-card-body>
          <!--Features-->
  
        </mdb-card>
        <!--Pricing card-->
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <!--Pricing card-->
        <mdb-card class="pricing-card white-text">
          <!--Price-->
          <div class="header purple-gradient">
            <h4 class="option">ENTERPRISE</h4>
          </div>
          <!--Price-->
  
          <!--Features-->
          <mdb-card-body class="striped purple-striped card-background heading px-5">
            <h2 class="my-4 h1">100$</h2>
            <ul>
              <li>
                <p class="mt-1">
                  <strong>1</strong> project</p>
              </li>
              <li>
                <p>
                  <strong>100</strong> components</p>
              </li>
              <li>
                <p>
                  <strong>150</strong> features</p>
              </li>
              <li>
                <p>
                  <strong>200</strong> members</p>
              </li>
            </ul>
  
            <button mdbBtn gradient="purple" rounded="true" class="mb-3 mt-3 waves-light" mdbWavesEffect>Buy now
            </button>
          </mdb-card-body>
          <!--Features-->
  
        </mdb-card>
        <!--Pricing card-->
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Pricing v.6-->

  <!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div class="top-nav-collapse">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Company name</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">MDBootstrap</a>
          </p>
          <p>
            <a href="#!">MDWordPress</a>
          </p>
          <p>
            <a href="#!">BrandFlow</a>
          </p>
          <p>
            <a href="#!">Bootstrap Angular</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!">Shipping Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> New York, NY 10012, US
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> info@example.com
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 234 567 88
          </p>
          <p>
            <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567 88
          </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->