<app-header></app-header>
<!--Section: Products v.4-->
<section class="pb-3 pt-5 text-center container">
  <!--Section heading-->
  <div style="font-size: 50px;" class="mt-5"><strong>ONLINE SOFTWARE TRAININGS</strong></div>
  <div style="font-size: 31px;" class="mb-3">LEARN TECHNOLOGIES WITH REALTIME EXPERTS</div>

  <div class="sidenav-container d-none d-md-block">
    <div class="sidenav-child vertical-center">
      <a target="_blank" href="https://www.facebook.com/esmartcoder" style="padding-left: 15px;" class="d-block fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
    </div>
    <div class="sidenav-child vertical-center">
      <a target="_blank" href="https://www.linkedin.com/company/esmartcoder" style="padding-left: 15px;" class="d-block li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
    </div>
    <div class="sidenav-child vertical-center ">
      <a target="_blank" href="https://youtube.com/channel/UCvASoJSvFMApntvjfdde1Rg" style="padding-left: 15px;" class="d-block yt-ic mr-3" role="button"><i class="fab fa-lg fa-youtube"></i></a>
    </div>
    <div class="sidenav-child vertical-center ">
      <a target="_blank" href="https://wa.me/message/BPRVLP443PM4A1" style="color: #25d366 !important;" class="d-block whatsapp-square-ic" role="button"><i class="fab fa-lg fa-whatsapp-square"></i></a>
    </div>
    <div class="sidenav-child vertical-center ">
      <a target="_blank" href="https://medium.com/@esmartcoder" style="color: #000000 !important;" class="d-block medium-ic" role="button"><i class="fab fa-lg fa-medium"></i></a>
    </div>
  </div>
  <app-upcoming-courses></app-upcoming-courses>
  <!--Section: Main Courses-->
  <app-main-courses></app-main-courses>
  <!--Section: Main Courses-->
</section>
<hr class="hr-dark">

<app-software-solutions></app-software-solutions>

<app-footer></app-footer>