<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div class="footer-banner">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-left">
                    <!-- Facebook -->
                    <a target="_blank" href="https://www.facebook.com/esmartcoder" type="button" mdbBtn floating="true"
                        size="sm" color="fb" class="waves-light" mdbWavesEffect>
                        <mdb-icon fab icon="facebook-f"></mdb-icon>
                    </a>
                    <!--Linkedin-->
                    <a target="_blank"
                        href="https://www.linkedin.com/company/esmartcoder"
                        type="button" mdbBtn floating="true" size="sm" color="li" class="waves-light" mdbWavesEffect>
                        <mdb-icon fab icon="linkedin-in"></mdb-icon>
                    </a>
                    <!--Youtube-->
                    <a target="_blank" href="https://youtube.com/channel/UCvASoJSvFMApntvjfdde1Rg" type="button" mdbBtn
                        floating="true" size="sm" color="yt" class="waves-light" mdbWavesEffect>
                        <mdb-icon fab icon="youtube"></mdb-icon>
                    </a>
                    <!-- Whatsapp -->
                    <a target="_blank" href="https://wa.me/message/BPRVLP443PM4A1" style="background: green;"
                        type="button" mdbBtn floating="true" size="sm" color="" class="waves-light" mdbWavesEffect>
                        <mdb-icon fab icon="whatsapp"></mdb-icon>
                    </a>
                    <!-- Medium -->
                    <a target="_blank" href="https://medium.com/@esmartcoder" style="background: black;" type="button"
                        mdbBtn floating="true" size="sm" color="" class="waves-light" mdbWavesEffect>
                        <mdb-icon fab icon="medium"></mdb-icon>
                    </a>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-right mb-md-0">
                    <button (click)="bookSlot()" mdbBtn type="button" color="warning" mdbWavesEffect>
                        <span style="font-size: 16px; color: black;">BOOK A FREE SESSION NOW</span>
                    </button>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Services</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    Technology
                </p>
                <p>
                    Software Solutions
                </p>
                <p>
                    Carrier Guidance
                </p>
                <p>
                    Child Wing
                </p>
                <p>
                    Trainings
                </p>


            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Technologies</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    Java
                </p>
                <p>
                    Python
                </p>
                <p>
                    Angular
                </p>
                <p>
                    React
                </p>
                <p>
                    Ionic
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Platforms</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    IOS
                </p>
                <p>
                    Android
                </p>
                <p>
                    Windows
                </p>
                <p>
                    Hybrid Platform
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Tolichowki, Hyd, IND
                </p>
                <p>
                    <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> contact@esmartcoder.com
                </p>
                <p>
                    <mdb-icon fab icon="whatsapp" class="mr-3"></mdb-icon> + 91 90147 93628
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://esmartcoder.com/"> esmartcoder</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->