<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div class="footer-banner">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Get connected with us on social networks!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Services</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Technology</a>
                </p>
                <p>
                    <a href="#!">Software Solutions</a>
                </p>
                <p>
                    <a href="#!">Carrier Guidance</a>
                </p>
                <p>
                    <a href="#!">Child Wing</a>
                </p>
                <p>
                    <a href="#!">Trainings</a>
                </p>


            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Technologies</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Java</a>
                </p>
                <p>
                    <a href="#!">Python</a>
                </p>
                <p>
                    <a href="#!">Angular</a>
                </p>
                <p>
                    <a href="#!">React</a>
                </p>
                <p>
                    <a href="#!">Ionic</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Platforms</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">IOS</a>
                </p>
                <p>
                    <a href="#!">Android</a>
                </p>
                <p>
                    <a href="#!">Windows</a>
                </p>
                <p>
                    <a href="#!">Hybrid Platform</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Skyview, Hyderabad, IND
                </p>
                <p>
                    <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> contact@esmartcoder.com
                </p>
                <p>
                    <mdb-icon fab icon="whatsapp" class="mr-3"></mdb-icon> + 91 9014793628
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://esmartcoder.com/"> esmartcoder</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->