
.footer-banner {
    background-color:  #4a148c !important;
  }
  
  .navbar:not(.footer-banner) {
    background: transparent !important;
  }
  
  @media (max-width: 991px) {
    .navbar:not(.footer-banner) {
      background: #4a148c !important
    }
  }
 